
    <div class="container">
        <h1>WORLD VISION</h1>
        <div class="row" id="footer-content">     
            <div class="col col-lg-6" >
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit efficitur,
                    at accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis ut turpis.
                    Vestibulum dolor metus, tincidunt eget odio</p>
                <ul class="infomation">
                    <li class="item-info">Cơ quan của Bộ Lao động - Thương binh và Xã hội</li>
                    <li class="item-info">Tòa soạn: Nhà 48, ngõ 2 Giảng Võ, Cát Linh, Đống Đa, Hà Nộ</li>
                    <li class="item-info">Văn phòng đại diện miền Nam: 51 Võ Văn Tần, Phường Võ Thị Sáu, Quận 3, TP HCM</li>
                    <li class="item-info">Mọi hành động sử dụng nội dung đăng tải trên Báo điện tử Dân trí tại địa chỉ dantri.com.vn phải có sự đồng ý bằng văn bản của Báo điện tử Dân trí.</li>
                </ul>
            </div>
            <div class="col col-lg-4">
            <ul class="contact-lists">
                <li class="contact-item">Liên hệ quảng cáo:
                    0945.54.03.03</li>
                <li class="contact-item">Email: quangcao@dantri.com.vn</li>
                <li class="contact-item">Điện thoại: 024-3736-6491.</li>
                <li class="contact-item"> Fax: 024-3736-6491</li>
            </ul>
            </div>
        </div>
    </div>
