<div class="container">
    <div class="header-content">

        <label for="nav-mobile-input" class="navbar-btn">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
                class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                </path>
            </svg>
        </label>
        <input type="checkbox" name="" hidden class="nav-input" id="nav-mobile-input" >
        <label for="nav-mobile-input"  class="nav_overlay"></label>
        <div class="menu-bottom-mobile">
            <label for="nav-mobile-input"  class="nav-item-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg"
                    viewBox="0 0 16 16">
                    <path
                        d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                </svg>
            </label>
            <form action="/search" method="GET" class="search-form-sub">
                <input type="text" placeholder="tìm kiếm..." name="q" class="input-search">
                <button type="submit" class="btn-submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
            <ul class="menu-content-moblile">
                <li class="nav-item-mobile">
                    <a href="/" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            class="home-icon" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg></a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363746a106235840ba0e8" class="nav-link">Xã hội</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/6103637c6a106235840ba0f6" class="nav-link">Thế giới</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363826a106235840ba104" class="nav-link">Kinh doanh</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363056a106235840ba0bd" class="nav-link">Khoa học</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/6103638c6a106235840ba112" class="nav-link">Giải trí </a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363936a106235840ba120" class="nav-link">Thể thao</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/6103639a6a106235840ba12e" class="nav-link">Sức khỏe</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363a16a106235840ba13c" class="nav-link">Văn hóa</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363a76a106235840ba14a" class="nav-link">Giáo dục</a>
                </li>
                <li class="nav-item-mobile">
                    <a href="/cate/610363ac6a106235840ba158" class="nav-link">Pháp luật</a>
                </li>
            </ul>
        </div>
        <a href="/">
            <h1>WORLD VISION</h1>
        </a>
        <div class="option-header">
            <form action="/search" method="GET" class="search-form">
                <input type="text" placeholder="tìm kiếm..." name="q" class="input-search">
                <button type="submit" class="btn-submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>
            <ul class="navbar-nav" id="manager-options">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="admin-avatar" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/news/create">Đăng tin tức</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/me/stored/category">Thể loại</a></li>
                        <li><a class="dropdown-item" href="/me/stored/posts">Tin của tôi</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link active" href="/auth/login">Đăng nhập</a>
                </li>
                {{/if}}
            </ul>

            </select>
        </div>
    </div>
    <div class="menu-bottom">
        <ul class="menu-content">
            <li class="nav-item">
                <a href="/" class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        class="home-icon" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                    </svg></a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363746a106235840ba0e8" class="nav-link">Xã hội</a>
            </li>
            <li class="nav-item">
                <a href="/cate/6103637c6a106235840ba0f6" class="nav-link">Thế giới</a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363826a106235840ba104" class="nav-link">Kinh doanh</a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363056a106235840ba0bd" class="nav-link">Khoa học</a>
            </li>
            <li class="nav-item">
                <a href="/cate/6103638c6a106235840ba112" class="nav-link">Giải trí </a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363936a106235840ba120" class="nav-link">Thể thao</a>
            </li>
            <li class="nav-item">
                <a href="/cate/6103639a6a106235840ba12e" class="nav-link">Sức khỏe</a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363a16a106235840ba13c" class="nav-link">Văn hóa</a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363a76a106235840ba14a" class="nav-link">Giáo dục</a>
            </li>
            <li class="nav-item">
                <a href="/cate/610363ac6a106235840ba158" class="nav-link">Pháp luật</a>
            </li>
        </ul>
    </div>
</div>

<script>
    window.addEventListener("scroll", () => {
        const headerBottom = document.querySelector('.menu-bottom');
        headerBottom.classList.toggle("sticky", window.scrollY > 104)
    })
</script>